In [1]:
#The below url contains a html table with data with a List of postal codes of Canada.

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
#There are 3 tables on this page; we use match to make sure we get the table we want
table_Postal = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', match = 'Postal')

In [76]:
print(f'Total tables: {len(table_Postal)}')

Total tables: 1

In [77]:
df = table_Postal[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [78]:
#Check the size of the Dataframe
df.shape

(180, 3)

In [79]:
#Delete rows  with a borough that is Not assigned.
index = df[df['Borough'] == 'Not assigned'].index
df.drop(index, inplace=True)
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [80]:
df.shape

(103, 3)

In [82]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
df.loc[df['Neighbourhood']=='Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [84]:
#There are no not assigned for a neighborhood
df.shape

(103, 3)